<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title>Interactive map Slideshow 1</title>
  <link href="style.css" rel="stylesheet" />

  <script src="node_modules/angular/angular.js"></script>
  <script src="js/papaparse.js"></script>
  <script src="js/interactivemap.js"></script>
</head>

<body ng-app="interactivemap" ng-init="index=1">
<button ng-click="index=index-1">prev</button>
<button ng-click="index=index+1">next</button>


<div id="slideshow" ng-controller="SlideshowCtrl as slideshowCtrl">
  <button ng-click="slideshowCtrl.change()">change slideshow</button>
  <div id="slide{{entry.Slide}}" ng-repeat="entry in slideshowCtrl.entries" ng-show="index=={{entry.Slide}}">
    <h1>{{entry.TitleSwedish}}</h1>
    <p>{{entry.TextBoxSwedish}}</p>
    <div class="circular" style="background-image: url(images/{{entry.TextBoxImage}})"></div>
    <div class="map-container">
      <div class="basemap" style="background-image: url(images/nature_brag_base.jpg)"></div>
      <div class="topmap" style="background-image: url(images/{{entry.TopMap}})"></div>
      <!--<img class="topmap" ng-src="images/{{entry.TopMap}}" alt="" />-->
      
    </div>
  </div>
</div>

</body>
</html>