@font-face {
   font-family: 'xxQuicksandpro';
   src: url('fonts/QuicksandPro-Light.otf');
   font-weight:100;
   font-style: normal;
}
@font-face {
   font-family: 'xxQuicksandpro';
   src: url('fonts/QuicksandPro-LightItalic.otf');
   font-weight:100;
   font-style:italic;
}
@font-face {
   font-family: 'xxQuicksandpro';
   src: url('fonts/QuicksandPro-Regular.otf');
   font-weight:400;
   font-style: normal;
}
@font-face {
   font-family: 'xxQuicksandpro';
   src: url('fonts/QuicksandPro-RegularItalic.otf');
   font-weight:400;
   font-style:italic;
}
@font-face {
   font-family: 'xxQuicksandpro';
   src: url('fonts/QuicksandPro-Bold.otf');
   font-weight:800;
   font-style: normal;
}
@font-face {
   font-family: 'xxQuicksandpro';
   src: url('fonts/QuicksandPro-BoldItalic.otf');
   font-weight:800;
   font-style:italic;
}
body {
  font:17px/3ex xxQuicksandpro, Georgia, "Times New Roman", Times, serif;
  font-weight:400;
  color:rgba(255,255,255,1);
  color: black;
  /*    letter-spacing:0.05em;*/
   -webkit-font-smoothing: none;
   -webkit-font-smoothing: antialiased; /* This makes the text crisp! */  
  margin:0; 
  padding:0;
  width: 100vw;
  height: 100vh;
}
html * {
   box-sizing:border-box;
}
.circular {
   position: absolute;
   bottom: 0px;
   width: 400px;
   height: 400px;
   border-radius: 260px;
   -webkit-border-radius: 260px;
   background-size: 400px auto;
}

.content-container {
  position: absolute;
  top: 80px;
  left: 80px;
  width: 400px;
  height: 700px;
  -webkit-animation: content-animation 1s;
}
.content-container h1 {
font-size: 3rem;
line-height: 3.4rem;
}
.button {
  position: relative;
  z-index: 999;
}
.basemap {
  position: absolute;
  right: 0;
  top: 0;
  width: 1260px;

  width: 1920px;
  height: 1080px;
  background: no-repeat;
}

.topmap {
  position: absolute;
  right: 0px;
  top: 0px;
  -webkit-animation: topmap-animation 2s;
}

@-webkit-keyframes content-animation {
  0%   { opacity: 0; }
  50%   { opacity: 0; }
  100% { opacity: 1; }
}
@-webkit-keyframes topmap-animation {
  0%   { opacity: 0; }
  75%   { opacity: 0; }
  100% { opacity: 1; }
}

/* SVG Animation */
svg {
  position: absolute;
  top: 0;
  right: 0;
}

.path {
  -webkit-animation: dash 20s linear infinite;

  stroke-dasharray: 2000; /*the bigger the number, the longer the dashes*/
  stroke-dashoffset: 2000;
  -webkit-animation-delay: 2s; /*animation delay for the line*/
}
@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 2000;
    opacity: 1;
  }
  50% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
  60% {
    stroke-dashoffset: 0;
    opacity: 0;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 0;
  }
}
/*@-webkit-keyframes dash {
  from {
    stroke-dashoffset: 2000;
  }
  to {
    stroke-dashoffset: 0;
    opacity: 0;
  }
}*/

svg#lineGroup path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}

svg#areaGroup path {
  opacity: 0;
}